.App {
  background: rgb(244,231,215);
  margin: 0 auto;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: auto;
}



.App h1 {
  font-size: 50px;
  font-weight: bold;
}

footer a {
  color: black;
}

footer {
  color: black;
  font-size: 10px;
}