.Dictionary {
    margin: 40px auto;
    border: 2px solid black;
    border-radius: 50px;
    background-color: transparent;
    padding: 70px;
   
}

.form-search {
    text-align: center;
    
}

.example-section {
    font-size: 12px;
    margin-top: 8px;
}

.form-paragraph {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}